:root{
  --fs-400: clamp(.5rem, 1rem, 1rem);
}

@media screen and (max-width: 768px){
  :root{
      --fs-400: clamp(.5rem, .8rem, 1rem);
  }
}

body {
  margin: 0;
  height: 100%;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url('./media/background.png') ;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
  z-index: 100;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


html{
  height: 100%;
  min-height: 500px;
  min-width: 250px;  
}

#root{
  height: 100%;
}
