.flexRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 100%;
}

.taskListWrapper{
    padding: 0 40px;
}

.taskList{
    display: grid;
    grid-template-columns: minmax(10px, 1fr) minmax(10px, 1fr);
    grid-template-rows: repeat(fit-content,minmax(10px, 1fr));
    font-size: 30px;
    margin-bottom: 20px;
    border-bottom: 1px black solid;
    padding-top: 20px;
}

.title{
    grid-row: 2;
    grid-column: 1/ span 2;
    justify-self: center;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 20px;
}

.status{
    grid-row: 3;
    grid-column: 1;
}

.status select{
    margin-right: 250px;
}
.description{
    grid-row: 5;
    grid-column: 1 / span 2;
    word-wrap: break-word;
    margin-bottom: 15px;
}

.description .features{
    display: flex;
    align-items: center;
    gap: 10px;
}

.description .content{
    margin: 0 20px;
}
.createdAt{
    grid-row: 3;
    grid-column: 2;
}
.updatedAt{
    grid-row: 4;
    grid-column: 2;
}
.totalPoints{
    grid-row: 4;
    grid-column: 1;
}

.taskListWrapper{
    width: 50%;
    
    background-color: white;
}

.tasksFlex{
    display: flex;
    flex-direction: column;
}

.actionBtns{
    grid-row: 1;
    grid-column: 1 / span 2;
    display: flex;
    justify-content: space-between;
}

.task{
    display: grid;
    word-wrap: break-word;
    grid-template-columns: minmax(10px, 1fr);
}

textarea{
    resize: none;
}