.link:not(.home):not(.disabled):hover a{
    color: grey;
}

.home a{
    font-weight: bold;
}

.activeTab a{
    color: grey;
}

.link{
    height: 100%;
}

.link a{
    padding: 15px;
}

nav ul li{
    float: left;
    padding: 0 2vw 0 2vw;
    align-content: center;
    display: block;
}
nav div a{
    display: block;
    text-decoration: none;
    color: white;
    transition: color 0.5s linear; /* vendorless fallback */
    -o-transition: color 0.5s linear; /* opera */
    -ms-transition: color 0.5s linear; /* IE 10 */
    -moz-transition: color 0.5s linear; /* Firefox */
    -webkit-transition: color 0.5s linear; /*safari and chrome */
}

nav{
    position: absolute;
    min-width: 250px;
    display: flex;
    gap: 20px;
    width: 100%;
    background-color:black;
}

.disabled a{
    pointer-events: none;
    cursor: not-allowed;
    color: rgba(209, 209, 209, 0.8)
}

.burgerMenu span{
    background-color: white;
    height: 5px;
    width: 80%;
    border-radius: 25px;
}

.burgerMenu{
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 50px;
    height: 100%;
    margin-right: 10px;
}

.sideMenu{
    z-index: 50;
    width: 100%;
    position: absolute;
    transition: top .5s ease-in-out;
    top: -300%;
    background-color: black;
}

.sideMenuContent{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.sideMenu a{
    text-decoration: none;
    color: white;
}

.activeMenu{
    top: 100%;
}

@media not screen and (max-width: 650px){
    .sideMenu{
        display: none;
    }
}
@media screen and (max-width: 650px){
    nav > .link:not(.home){
        display: none;
    }

    nav{
        justify-content: space-between;
    }

    .burgerMenu{
        display: flex;
    }

    .sideMenu{
        
    }
}